{% load static %}
<!DOCTYPE html>
<html lang="en">
<nav>
    <div class="nav-links">
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'search_results' %}">Search</a>
        <a href="{% url 'beatmap_info' %}">Find map</a>
        {% if user.is_superuser %}
            <a href="{% url 'admin:index' %}">Admin Dashboard</a>
        {% endif %}
    </div>
    <div class="user-section">
        {% if user.is_authenticated %}
            <img src="{{ user_profile.profile_pic_url }}" alt="Profile Picture" id="profileMenuButton">
            <div id="profileDropdown" class="dropdown-content">
                <!-- <a href="{% url 'profile' %}">Profile</a> -->
                <a href="{% url 'settings' %}">Settings</a>
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            </div>
        {% else %}
            <img src="https://echosu-s3.s3.eu-central-1.amazonaws.com/default.png" alt="Profile Picture" id="profileMenuButton">
            <div id="profileDropdown" class="dropdown-content">
                <a href="{{ osu_oauth_url }}">Login</a>
            </div>
        {% endif %}
    </div>
</nav>
</html>
