{% load static %}
{% load custom_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" sizes="32x32" href="https://echosu-s3.s3.eu-central-1.amazonaws.com/static/orange_32x32.ico">
    <link rel="icon" type="image/x-icon" sizes="16x16" href="https://echosu-s3.s3.eu-central-1.amazonaws.com/static/orange_16x16.ico">
</head>
<body>
    <nav>
        <div class="nav-content">
            <div class="nav-links">
                <a href="{% url 'home' %}" class="generic-nav-btn">Home</a>
                <a href="{% url 'about' %}" class="generic-nav-btn">About</a>
                <a href="{% url 'tag_library' %}" class="generic-nav-btn">Tag Library</a>
                <form method="get" action="{% url 'search_results' %}" class="quick-search-form">
                    <input type="text" name="query" placeholder="Quick Search...">
                    <button type="submit" class="generic-nav-btn">Search</button>
                </form>
            </div>
            
            <div class="user-section">
                {% if user.is_authenticated %}
                    <img src="{{ user_profile.profile_pic_url }}" alt="Profile Picture" id="profileMenuButton">
                    <div id="profileDropdown" class="dropdown-content">
                        <!-- <a href="{% url 'profile' %}">Profile</a> -->
                        <a href="{% url 'settings' %}">Settings</a>
                        {% if user|has_tag_edit_permission %}
                        <a href="{% url 'edit_tags' %}">Edit Tags</a>
                        {% elif user.is_superuser %}
                            <a href="{% url 'edit_tags' %}">Edit Tags</a>
                        {% endif %}
                        {% if user.is_superuser %}
                            <a href="{% url 'admin:index' %}">Admin Dashboard</a>
                        {% endif %}
                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit">Logout</button>
                        </form>
                    </div>
                    {% else %}
                    <img src="https://echosu-s3.s3.eu-central-1.amazonaws.com/static/default.png" alt="Profile Picture" id="profileMenuButton">
                    <div id="profileDropdown" class="dropdown-content">
                        <a href="{{ osu_oauth_url }}">Login</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </nav>
</body>
</html>
