{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ beatmap.title }} Details</title>
    <link rel="stylesheet" href="https://echosu-s3.s3.eu-central-1.amazonaws.com/static/css/master.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://echosu-s3.s3.eu-central-1.amazonaws.com/static/js/master.js"></script>
</head>
<body>
    {% include '_navbar.html' %}    
    <div class="container">
        {% if beatmap %}
        <div class="beatmap-display">
            {% if beatmap.cover_image_url %}
            <div class="beatmap-cover-container">
                <img class="beatmap-cover" src="{{ beatmap.cover_image_url }}" alt="Cover Image">
            </div>
            {% endif %}
            <div class="beatmap-details-container">
                <div class="beatmap-title-artist">
                    <h2 class="title">{{ beatmap.title }} - [{{ beatmap.version }}] | {{ beatmap.beatmap_id }}</h2>
                    <h3 class="artist">Artist: {{ beatmap.artist }}</h3>
                    <h3 class="mapper">Mapper: {{ beatmap.creator }}</h3>
                </div>
                <div class="beatmap-stats">
                    <span>Length: {{ beatmap.total_length }} </span>
                    <span>BPM: {{ beatmap.bpm }} </span>
                    <span>CS: {{ beatmap.cs }} </span>
                    <span>HP: {{ beatmap.drain }}</span>
                    <span>OD: {{ beatmap.accuracy }}</span>
                    <span>AR: {{ beatmap.ar }}</span>
                    <span>SR: {{ beatmap.difficulty_rating }}</span>
                    <span>Status: {{ beatmap.status }}</span>
                </div>
                {% if beatmap.beatmapset_id %}
                    <a href="https://osu.ppy.sh/beatmapsets/{{ beatmap.beatmapset_id }}" class="beatmap-link">View on osu!</a>
                {% else %}
                    <span class="no-link">Beatmap set not available on osu!</span>
                {% endif %}

            </div>
        </div>

        <!-- Hidden field to store the current beatmap's ID -->
        <input type="hidden" id="current_beatmap_id" value="{{ beatmap.beatmap_id }}">

        <!-- Tag input field and suggestions list -->
        <button type="button" class="apply-tag-btn">Apply Tag</button>
        <input type="text" id="tag-input" placeholder="Enter tag"> 
        <ul id="tag-list"></ul>

        <div class="applied-tags"> 
            Tags:
            {% for TagApplication in tags_with_counts %}
            {% if TagApplication.tag__name %}
                <span class="tag" data-tag-name="{{ TagApplication.tag__name }}" data-applied-by-user="false">
                    {{ TagApplication.tag__name }} ({{ TagApplication.apply_count }})
                </span>
            {% else %}
                <span class="tag">(Unnamed Tag) ({{ TagApplication.apply_count }})</span>
            {% endif %}
        {% endfor %}
        </div>

            {% if error %}
                <p class="error">{{ error }}</p>
            {% endif %}
        {% endif %}
    </div>  
</body>
</html>
