{% extends 'base.html' %}
{% load static %}

{% block title %}{{ beatmap.title }} Details{% endblock %}
{% block body_class %}page-beatmap-detail{% endblock %}

{% block head_css %}
  <link rel="stylesheet" href="{% static 'css/beatmap_card.css' %}">
  <link rel="stylesheet" href="{% static 'css/tagging.css' %}">
  <link rel="stylesheet" href="{% static 'css/search_filters.css' %}">
  <link rel="stylesheet" href="{% static 'css/rosu_graph.css' %}">
{% endblock %}

{% block content %}
  {% include 'partials/tag_card.html' with beatmap=beatmap show_details_button=False %}

  <!-- Difficulty graph -->
  <div class="rosu-graph-card">
    <div class="rosu-graph-header">
        <h3 class="rosu-graph-title">Difficulty over time</h3>
    </div>
    <div class="rosu-graph-container">
      <canvas id="rosuGraphCanvas" height="140" data-ts-url="{% url 'beatmap_timeseries' beatmap_id=beatmap.beatmap_id %}" data-total-stars="{{ beatmap.difficulty_rating|default:0 }}" data-total-length="{{ beatmap.total_length|default:0 }}"></canvas>
    </div>
  </div>

  {% if error %}
    <p class="error">{{ error }}</p>
  {% endif %}
{% endblock %}

{% block foot_js %}
  <script src="{% static 'js/tagging.js' %}"></script>
  <script src="{% static 'js/rosu_graph.js' %}"></script>
  <script src="{% static 'js/rosu_graph_tags.js' %}"></script>
{% endblock %}
