{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>echosu Home</title>
    <link rel="stylesheet" href="https://echosu-s3.s3.eu-central-1.amazonaws.com/static/css/master.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://echosu-s3.s3.eu-central-1.amazonaws.com/static/js/master.js"></script>

</head>
<body>
    {% include '_navbar.html' %}
        <!-- Display messages -->
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>