<!-- templates/home.html -->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>echosu Home</title>
    <link rel="stylesheet" href="https://echosu-s3.s3.eu-central-1.amazonaws.com/static/css/master.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://echosu-s3.s3.eu-central-1.amazonaws.com/static/js/master.js"></script>
</head>
<body>
    {% include '_navbar.html' %}
    <div class="container">

        <!-- Beatmap Info Section -->
        {% if user.is_authenticated %}
            <form method="post" class="beatmap-form">
                {% csrf_token %}
                <p>Use the beatmap ID from osu! to look up beatmaps.<br> 
                https://osu.ppy.sh/beatmapsets/1289690#osu/"2897724" &lt;--- That ID.</p>
                <label for="beatmap_id">Enter Beatmap ID:</label>
                <div class="input-group">
                    <input type="text" id="beatmap_id" name="beatmap_id">
                    <button type="submit">Get Info</button>
                </div>
            </form>

            {% if error %}
                <p class="error">{{ error }}</p>
            {% endif %}

            {% if beatmap %}
                <div class="beatmap-display">
                    {% if beatmap.cover_image_url %}
                    <div class="beatmap-cover-container">
                        <img class="beatmap-cover" src="{{ beatmap.cover_image_url }}" alt="Cover Image">
                    </div>
                    {% endif %}
                    <div class="beatmap-details-container">
                        <div class="beatmap-title-artist">
                            <h2 class="title">{{ beatmap.title }} - [{{ beatmap.version }}] | {{ beatmap.beatmap_id }}</h2>
                            <h3 class="artist">Artist: {{ beatmap.artist }}</h3>
                            <h3 class="mapper">Mapper: {{ beatmap.creator }}</h3>
                        </div>
                        <div class="beatmap-stats">
                            <span>Length: {{ beatmap.total_length }} </span>
                            <span>BPM: {{ beatmap.bpm }} </span>
                            <span>CS: {{ beatmap.cs }} </span>
                            <span>HP: {{ beatmap.drain }}</span>
                            <span>OD: {{ beatmap.accuracy }}</span>
                            <span>AR: {{ beatmap.ar }}</span>
                            <span>SR: {{ beatmap.difficulty_rating }}</span>
                            <span>Mode: {{ beatmap.mode }}</span>
                            <span>Status: {{ beatmap.status }}</span>
                        </div>
                    </div>
                </div>
                <!-- Hidden field to store the current beatmap's ID -->
                <input type="hidden" id="current_beatmap_id" value="{{ beatmap.beatmap_id }}">

                <!-- Tag input field and suggestions list -->
                <button type="button" class="apply-tag-btn">Apply Tag</button>
                <input type="text" id="tag-input" placeholder="Enter tag"> 
                <ul id="tag-list"></ul>

                <div class="applied-tags">
                    Tags:
                    {% for tag in beatmap_tags_with_counts %}
                        <span class="tag" 
                        data-tag-name="{{ tag.name }}" 
                        data-applied-by-user="{{ tag.is_applied_by_user }}"
                        data-description=' "{{ tag.description }}" '
                        {% if tag.description_author %}
                            data-description-author=" - {{ tag.description_author }}"
                        {% else %}
                            data-description-author=""
                        {% endif %}
                            {{ tag.name }} ({{ tag.apply_count }})
                        </span>
                    {% endfor %}
                </div>
            {% endif %}

        {% else %}
            <p>You have to be logged in to use this. ( click the little oranges in the top right c: )</p>
        {% endif %}
    </div>

    <div class="container">
        <!-- Top Tags Section -->
        <section class="tags-usage">
            <h2>Top 50 Tags</h2>
            <div class="container"> 
                {% for tag in tags %}
                    <a 
                        href="{% url 'search_results' %}?query={{ '"'|add:tag.name|add:'"'|urlencode }}" 
                        class="tag" 
                        data-tag-name="{{ tag.name }}" 
                        data-applied-by-user="{{ tag.is_applied_by_user }}"
                        data-description=' "{{ tag.description }}" '
                        {% if tag.description_author %}
                            data-description-author=" - {{ tag.description_author }}"
                        {% else %}
                            data-description-author=""
                        {% endif %}
                    >
                        {{ tag.name }} ({{ tag.total }})
                    </a>
                {% empty %}
                    <p>No tags available.</p>
                {% endfor %}
            </div>
        </section>

        <!-- Recommended Maps Section -->
        <section class="recommended-maps">
            <h2>Recommended Maps</h2>
            <ul class="map-list">
                {% for map in recommended_maps %}
                    <li class="map-entry card">
                        <div class="beatmap-display">
                            {% if map.cover_image_url %}
                                <div class="beatmap-cover-container">
                                    <img class="beatmap-cover" src="{{ map.cover_image_url }}" alt="Cover Image">
                                </div>
                            {% endif %}
                            <div class="beatmap-details-container">
                                
                                <div class="beatmap-title-artist">
                                    <h2 class="title">{{ map.title }} - [{{ map.version }}] | {{ map.beatmap_id }}</h2>
                                    <h3 class="artist">Artist: {{ map.artist }}</h3>
                                    <h3 class="mapper">Mapper: {{ map.creator }}</h3>
                                </div>
                                
                                <div class="beatmap-stats">
                                    <span>Length: {{ map.total_length }} </span>
                                    <span>BPM: {{ map.bpm }} </span>
                                    <span>CS: {{ map.cs }} </span>
                                    <span>HP: {{ map.drain }}</span>
                                    <span>OD: {{ map.accuracy }}</span>
                                    <span>AR: {{ map.ar }}</span>
                                    <span>SR: {{ map.difficulty_rating }}</span>
                                    <span>Mode: {{ map.mode }}</span>
                                </div>
        
                                <div class="applied-tags"> 
                                    Tags:
                                    {% if map.tags_with_counts %}
                                        {% for tag_info in map.tags_with_counts %}
                                            <span class="tag {% if tag_info.is_applied_by_user %}tag-applied{% else %}tag-unapplied{% endif %}" 
                                                  data-tag-name="{{ tag_info.tag.name }}" 
                                                  data-applied-by-user="{{ tag_info.is_applied_by_user }}"
                                                  data-description="{{ tag_info.tag.description }}">
                                                {{ tag_info.tag.name }} ({{ tag_info.apply_count }})
                                            </span>
                                        {% endfor %}
                                    {% else %}
                                        <span>No genres associated.</span>
                                    {% endif %}
                                </div>
        
                                <a href="{% url 'beatmap_detail' beatmap_id=map.beatmap_id %}" class="beatmap-link">View Details</a>
                            </div>
                        </div>
                    </li>
                {% empty %}
                    <p>No recommendations available at this time.</p>
                {% endfor %}
            </ul>
        </section>
    </div>
</body>
</html>
