<!-- templates/home.html -->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>echosu Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://echosu-s3.s3.eu-central-1.amazonaws.com/static/css/master.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://echosu-s3.s3.eu-central-1.amazonaws.com/static/js/master.js"></script>
    <script src="https://echosu-s3.s3.eu-central-1.amazonaws.com/static/js/collapsible_descriptions.js"></script>
    <link rel="icon" type="image/x-icon" sizes="32x32" href="https://echosu-s3.s3.eu-central-1.amazonaws.com/static/orange_32x32.ico">
    <link rel="icon" type="image/x-icon" sizes="16x16" href="https://echosu-s3.s3.eu-central-1.amazonaws.com/static/orange_16x16.ico">

</head>
<body class="page-beatmap-detail">
    {% include '_navbar.html' %}

    <div class="container">
        <!-- Beatmap Info Section -->
        {% if user.is_authenticated %}
            <form method="post" class="beatmap-form">
                {% csrf_token %}
                
                <h2 class="collapsible-description-header" aria-expanded="false" aria-controls="add-beatmap-content" role="button" tabindex="0">
                    Add a New Beatmap
                    <span class="arrow">&#9660;</span> <!-- Down arrow -->
                </h2>
                <div class="collapsible-description-content" id="add-beatmap-content" aria-hidden="true">
                    <p>Use the beatmap ID or URL link from osu! to add beatmaps not yet on echosu.<br> 
                    https://osu.ppy.sh/beatmapsets/1289690#osu/"2897724" &lt;--- That ID.</p>
                </div>
            

                <div class="input-group">
                    <input type="text" id="beatmap_id" name="beatmap_id" placeholder="Enter Beatmap ID">
                    <button type="submit">Get Info</button>
                </div>
            </form>

            {% if error %}
                <p class="error">{{ error }}</p>
            {% endif %}

            {% if beatmap %}
                <div class="beatmap-display">
                    {% if beatmap.cover_image_url %}
                    <div class="beatmap-cover-container">
                        <a href="{% url 'beatmap_detail' beatmap_id=beatmap.beatmap_id %}"><img class="beatmap-cover" src="{{ beatmap.cover_image_url }}" alt="Cover Image"></a>
                    </div>
                    {% endif %}
                    <div class="beatmap-details-container">
                        <div class="beatmap-title-artist">
                            <h2 class="title">{{ beatmap.title }} - [{{ beatmap.version }}] | {{ beatmap.beatmap_id }}</h2>
                            <h3 class="artist">Artist: {{ beatmap.artist }}</h3>
                            <h3 class="mapper">Mapper: {{ beatmap.creator }}</h3>
                        </div>
                        <div class="beatmap-stats">
                            <span class="beatmap-length">Length: {{ beatmap.total_length }}</span>
                            <span>BPM: {{ beatmap.bpm }} </span>
                            <span>CS: {{ beatmap.cs }} </span>
                            <span>HP: {{ beatmap.drain }}</span>
                            <span>OD: {{ beatmap.accuracy }}</span>
                            <span>AR: {{ beatmap.ar }}</span>
                            <span>SR: {{ beatmap.difficulty_rating }}</span>
                            <span>Status: {{ beatmap.status }}</span>
                        </div>
                        <a href="{% url 'beatmap_detail' beatmap_id=beatmap.beatmap_id %}" class="beatmap-link">View Details</a>
                    </div>
                </div>
                <!-- Hidden field to store the current beatmap's ID -->
                <input type="hidden" id="current_beatmap_id" data-beatmap-id="{{ beatmap.beatmap_id }}" value="{{ beatmap.beatmap_id }}">

                <!-- Tag input field and suggestions list -->
                <button type="button" class="apply-tag-btn">Apply Tag</button>
                <input type="text" id="tag-input" placeholder="Enter tag"> 
                <ul id="tag-list"></ul>

                <div class="applied-tags" id="beatmap-applied-tags">
                    Tags:
                    {% if beatmap_tags_with_counts %}
                    {% for tag_info in beatmap_tags_with_counts %}
                        <span class="tag {% if tag_info.is_applied_by_user %}tag-applied{% else %}tag-unapplied{% endif %}"
                              data-tag-name="{{ tag_info.tag__name }}" 
                              data-applied-by-user="{{ tag_info.is_applied_by_user }}"
                              data-beatmap-id="{{ beatmap.beatmap_id }}"
                              {% if tag_info.tag__description %}
                                  data-description='"{{ tag_info.tag__description|escapejs }}"'
                                  data-description-author="{{ tag_info.tag__description_author|escapejs }}"
                              {% endif %}
                        >
                            {{ tag_info.tag__name }} ({{ tag_info.apply_count }})
                        </span>
                    {% endfor %}
                {% else %}
                    <span>No Tags associated.</span>
                {% endif %}
                </div>
                
            {% endif %}

        {% else %}
            <p>You have to be logged in to apply tags to beatmaps.</p>
        {% endif %}
    </div>

    <div class="container">
        <!-- Top Tags Section -->
        <section class="tags-usage">
            <h2>Top 50 Tags</h2>
            <div class="container"> 
                {% for tag in tags %}
                    <a 
                        href="{% url 'search_results' %}?query={{ '"'|add:tag.name|add:'"'|urlencode }}" 
                        class="tag" 
                        data-tag-name="{{ tag.name }}" 
                        data-applied-by-user="{{ tag.is_applied_by_user }}"
                        {% if tag.description %}
                            data-description='"{{ tag.description|escapejs }}"'
                            data-description-author=" - {{ tag.description_author|escapejs }}"
                        {% endif %}
                    >
                        {{ tag.name }} ({{ tag.total }})
                    </a>
                {% empty %}
                    <p>No tags available.</p>
                {% endfor %}
            </div>
        </section>  

        <!-- Recommended Maps Section -->
        <section class="recommended-maps">
            <h2>Recommended Maps</h2>
            <ul class="map-list" id="recommended-map-list">
                {% include 'partials/recommended_maps.html' %}
            </ul>
            <div class="loadmore_center">
                <a id="load-more-btn" class="generic_btn" href="javascript:void(0);">Load 5 More</a>
            </div>
        </section>
    </div>
</body>
</html>
