{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Beatmap Info</title>
        <link rel="stylesheet" href="{% static 'css/master.css' %}">
        <script src="{% static 'js/master.js' %}"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
    <body>

        <div class="container">
            <form method="post" class="beatmap-form">
                {% csrf_token %}
                <label for="beatmap_id">Enter Beatmap ID:</label>
                <input type="text" id="beatmap_id" name="beatmap_id">
                <button type="submit">Get Info</button>
            </form>

            {% if error %}
                <p class="error">{{ error }}</p>
            {% endif %}

            {% if beatmap %}
                <div class="beatmap-display">
                    {% if beatmap.cover_image_url %}
                    <div class="beatmap-cover-container">
                        <img class="beatmap-cover" src="{{ beatmap.cover_image_url }}" alt="Cover Image">
                    </div>
                    {% endif %}
                    <div class="beatmap-details-container">
                        <div class="beatmap-title-artist">
                            <h2 class="title">{{ beatmap.title }} - [{{ beatmap.version }}] | id: {{ beatmap.id }}</h2>
                            <h3 class="artist">Artist: {{ beatmap.artist }}</h3>
                            <h3 class="mapper">Mapper: {{ beatmap.creator }}</h3>
                        </div>
                        <div class="beatmap-stats">
                            <span>Length: {{ beatmap.total_length }} </span>
                            <span>BPM: {{ beatmap.bpm }} </span>
                            <span>CS: {{ beatmap.cs }} </span>
                            <span>HP: {{ beatmap.hp_drain }}</span>
                            <span>OD: {{ beatmap.accuracy }}</span>
                            <span>AR: {{ beatmap.ar }}</span>
                            <span>SR: {{ beatmap.difficulty_rating }}</span>
                        </div>
                    </div>
                </div>
                <!-- Hidden field to store the current beatmap's ID -->
                <input type="hidden" id="current_beatmap_id" value="{{ beatmap.beatmap_id }}">

                <!-- Tag input field and suggestions list -->
                <input type="text" id="tag-input" placeholder="Enter tag">
                <ul id="tag-list"></ul>
                
                {% if top_tags %}
                <div class="tags-display">
                    <h3>Top Tags:</h3>
                    {% for tag in top_tags %}
                        <p>{{ tag.name }} ({{ tag.count }})</p>
                    {% endfor %}
                </div>
                {% else %}
                    <p>No tags applied yet.</p>
                {% endif %}
                
                {% if all_tags %}
                    <div style="height: 100px; overflow-y: scroll;">
                        {% for tag in all_tags %}
                            <p>{{ tag.name }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </body>
</html>
