{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
    </head>
    <body>
        {% if user_profile %}
        <img src="{{ user_profile.profile_pic_url }}" alt="{{ user_profile.user.username }}'s profile picture">
        {% endif %}

        <a href="https://osu.ppy.sh/oauth/authorize?client_id=28773&redirect_uri=http://127.0.0.1:8000/callback&response_type=code&scope=identify">Login with osu!</a>
        <a href="{% url 'beatmap_info' %}">echomaps</a>
        <a href="{% url 'admin:index' %}">Admin Dashboard</a>

    </body>
</html>