{% extends "admin/change_list.html" %}
{% load static %}

{% block object-tools-items %}
  {{ block.super }}
  <li>
    <a href="{% url 'admin:echo_beatmap_refresh_all' %}" class="addlink">Refresh all beatmaps</a>
  </li>
  <li>
    <a href="{% url 'admin:echo_beatmap_refresh_predicted' %}" class="addlink">Refresh beatmaps with predicted tags (slow)</a>
  </li>
  <li>
    <a href="{% url 'admin:echo_flush_all_predictions' %}" class="deletelink">Flush all predictions</a>
  </li>
{% endblock %}



